body {
    font-family: "Lohit Odia";
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}
.phone {
    position: absolute;
    top: 32%;
   left: 34%;
}
.phone{
    width: 30%;
}
.phone img {
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}
.phone img:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.ya{
    position: absolute;
    top: 0%;
    right: 80%;
}
.ya{
    width: 2000px;
    height: 800px;
}
.ya img {
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}
.ya img:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.google{
    position: absolute;
    top: 0%;
    left: 80%;
}
.google{
    width: 2000px;
    height: 800px;
}
.google img {
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}
.google img:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.telegram{
    position: absolute;
    bottom: 10%;
    right: 54%;
}
.whats{
    position: absolute;
    bottom: 3%;
    right: 54%;
}
.nomber {
    color: #cdcecf;
    font-family: "Lohit Odia";
    font-weight: bold;
    font-size: 30px;
}
.nomber {
    position: absolute;
    bottom: 8%;
    right: 44%;
}
.nomber1 {
    color: #cdcecf;
    font-family: "Lohit Odia";
    font-weight: bold;
    font-size: 30px;
}
.nomber1 {
    position: absolute;
    bottom: 1%;
    right: 44%;
}
